.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;
    margin-top: 50px;
    justify-items: center;
}
.cart-container{
    text-align: center;
    background: #ffdca8;
    position: fixed;
    top: 11.1%;
    right: 0;
    padding: 20px;
    
}